{% extends 'layout.html' %}
{% block content %}
    <!-- Start your project here-->
 

    <div class="view facilites-tm">
        <img src="https://images.pexels.com/photos/207456/pexels-photo-207456.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="img-fluid" alt="Image of ballons flying over canyons with mask pattern one.">
        <div class="mask pattern-4 flex-center">
            <p class="white-text">GET IN TOUCH WITH US</p>
        </div>
    </div>
    <div class="container-fluid container-contact">
        <div class="row">
            <div class="us">
                <h1 id="us">CONTACT US</h1>
            </div>
        </div>
        <!-- </div> -->
        <div class="container">
            <div class="row" id="contact-icons">
                <div class="col-md-4">
                    <i class="fas fa-mobile" id="tm-mobile"></i><br>
                    <h5>TELEPHONE</h5><br>
                    <p>+254 712 345 678 or +254 712 345 678</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-map-marker-alt" id="tm-mobile"></i><br>
                    <h5>LOCATION</h5><br>
                    <p>First Floor, Ngong Lane Plaza</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-envelope-open-text" id="tm-mobile"></i><br>
                    <h5>E-MAIL</h5><br>
                    <p>bookgrao@deathstar.com</p>
                </div>
            </div>
        </div>
    
    </div>
    {%endblock%}

